body {
	margin: 0px;
	font-family: "roboto slab", serif;
}

.jumbotron {
	background-image: url("Bg.png");
	background-size: cover;
	height: 580px;
}

.btn-warning {
	background-color: #ff9900;
	border-radius: 10px;
	box-shadow: 0px 2px 2px black !important;
}

.btn-warning:hover {
	background-color: #ffaf37;
}

.footer {
	line-height: 30px;
	margin-bottom: 0;
}